@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto+Slab:wght@500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
h1 {
  font-size: 2.8rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.75rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  text-decoration: none;
}

.nav .logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: #110a5c;
  text-transform: capitalize;
}

.nav__links {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: auto;
  
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.nav__links a {
  display: block;
  padding: 0.5rem 2rem;
  
  font-size: 1.1rem;
  color: white;
}

.nav__links a:hover {
  background-color: #110a5c;
  color: #f1f0ff;
}

.nav .active {
  height: 160px;
  overflow: hidden;
}

@media (min-width: 40em) {
  .nav__links {
    position: static;
    height: auto;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav__links a {
    display: inline-block;
  }
  .nav .active {
    height: auto;
  }
}

.mobile-menu {
  cursor: pointer;
}

.mobile-menu .line {
  width: 32px;
  height: 3px;
  background-color: black;
  display: block;
  margin-bottom: 7px;
}

button, .btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #110a5c;
  font-size: 1.3rem;
  background-color: #f1f0ff;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button:hover, .btn:hover {
  background-color: #110a5c;
  color: #f1f0ff;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f0ff;
  font-family: "DM Sans", sans-serif, sans-serif;
}

.container {
  padding: 1rem 2rem;
}

@media (min-width: 40em) {
  .container {
    padding: 2rem 5rem;
  }
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif, serif;
  color: #110a5c;
}

a {
  text-decoration: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.section {
  text-align: center;
}

.section__title {
  margin-bottom: 1rem;
}

.section__desc {
  margin-bottom: 2rem;
}

.hero {
  padding: 3rem 0;
}

.hero__btn {
  margin-top: 1.5rem;
}

.project__grid {
  text-align: left;
  padding-top: 2rem;
  width: 100%;
  padding: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (min-width: 40em) {
  .project__grid {
    padding: 0 0;
  }
}

.project__grid-item {
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.project__grid-item img {
  width: 100%;
}

.project__grid-item h3 {
  padding: 1rem 0;
}

.project__grid-item p {
  padding-bottom: 1rem;
}

.project__grid-item button {
  margin-bottom: 1rem;
  margin-right: 0.8rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.project__grid-item button:hover a {
  color: #f1f0ff;
}

.project__grid-item button a {
  color: #110a5c;
}

.project__grid-item .btns {
  margin-top: auto;
}

@media (min-width: 64em) {
  .project__grid-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 23.33333%;
  }
}

.aboutAndSkills {
  background-color: #fff;
  width: 100%;
  padding: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 8rem 0;
  border-radius: 0.5rem;
}

@media (min-width: 40em) {
  .aboutAndSkills {
    padding: 0 0;
  }
}

.aboutAndSkills-item {
  padding: 4rem 2rem;
}

@media (min-width: 64em) {
  .aboutAndSkills-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50%;
  }
}

.aboutAndSkills-item:nth-child(2) {
  border-top: 2px dashed #110a5c;
  border-left: none;
}

@media (min-width: 40em) {
  .aboutAndSkills-item:nth-child(2) {
    border-left: 2px dashed #110a5c;
    border-top: none;
  }
}

.skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-item i {
  font-size: 4rem;
}

.skills-item div {
  width: 23%;
}

.contact {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.contact .links {
  margin-top: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          background-color: #110A5C;
          color: white;
  padding: 2rem;
}



.social-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=App.css.map */