//color variables
$primary-color: #110a5c;
// $primary-color: #000;
$secondary-color: #fff;
$tertiary-color: #f1f0ff;

// font variables
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto+Slab:wght@500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

$title-text: 'Roboto Slab', serif;
$body-text: 'DM Sans', sans-serif;
